* {
    /* CSS HEX */
--columbia-blue: #d6efffff;
--glaucous: #5c80bcff;
--naples-yellow: #fae063ff;
--night: #0f110cff;
--persian-green: #049a8fff;

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-right: linear-gradient(90deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom: linear-gradient(180deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-left: linear-gradient(270deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-top-right: linear-gradient(45deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom-right: linear-gradient(135deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-top-left: linear-gradient(225deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom-left: linear-gradient(315deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-radial: radial-gradient(#d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff); */
}

h1 {
    font-weight: 600;
    font-size: 30px;
    color: var(--naples-yellow);
    text-shadow: 0 3px var(--glaucous);
}

.searchbar {
    margin-top: 25px;
}

.tooltip {
    width: 200px;
    background: var(--glaucous);
    color: var(--glaucous);
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
}
.tooltip:hover {
    color: var(--naples-yellow);
}

.container-pair {
    display: flex;
}

.search-pair {
    margin: 5px 4px;
    background: var(--naples-yellow);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid var(--glaucous);
    color: var(--glaucous);
}

#title {
    text-align: center;
    margin-top: 50px;
}

.popup-content {
  margin: auto;
  background-color: var(--naples-yellow);
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
  padding: 10px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.2s;
}

.popular-courses {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.pop-card {
    background: var(--glaucous);
    width: 30%;
    margin: 0 15px;
    padding-bottom: 10px;
    border-radius:10px;
    overflow: hidden;
    border-color:  rgb(182, 182, 182);
    text-align: center;
    filter: drop-shadow(0 0 15px var(--night));
}

.pop-card p {
    font-size: 30px;
    color: var(--naples-yellow)
}

#hidden {
    color: var(--naples-yellow);
    border-top: 2px solid var(--persian-green);
    border-bottom: 2px solid var(--persian-green);
    height: 80%;
    border-radius: 10px;
    transition: 0.3s;
    z-index: 22;
}

#hidden:hover {
    color: var(--persian-green);
}