* {
    /* CSS HEX */
--columbia-blue: #d6efffff;
--glaucous: #5c80bcff;
--naples-yellow: #fae063ff;
--night: #0f110cff;
--persian-green: #049a8fff;

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-right: linear-gradient(90deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom: linear-gradient(180deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-left: linear-gradient(270deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-top-right: linear-gradient(45deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom-right: linear-gradient(135deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-top-left: linear-gradient(225deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom-left: linear-gradient(315deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-radial: radial-gradient(#d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff); */
}


.wrapper {
    color: var(--night);
    position: relative;
    width: 30%;
    border: var(--naples-yellow) 10px solid;
    background: var(--glaucous);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transition: transform .5s ease, height .2s ease;
    margin: 35px auto;
    padding: 55px 0;
    z-index: 0;
}


.form-box h2 {
    font-size: 2em;
    color: var(--naples-yellow);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--naples-yellow);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--naples-yellow);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--naples-yellow);
    font-weight: 600;
    padding: 0 35px 0 0;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--naples-yellow);
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: var(--naples-yellow);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--naples-yellow);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--naples-yellow);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--naples-yellow);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--glaucous);
    font-weight: 500;
}
