/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: Poppins;
}

* {
  /* CSS HEX */
--columbia-blue: #d6efffff;
--glaucous: #5c80bcff;
--naples-yellow: #fae063ff;
--night: #0f110cff;
--persian-green: #049a8fff;

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-right: linear-gradient(90deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom: linear-gradient(180deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-left: linear-gradient(270deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-top-right: linear-gradient(45deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom-right: linear-gradient(135deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-top-left: linear-gradient(225deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-bottom-left: linear-gradient(315deg, #d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff);
$gradient-radial: radial-gradient(#d6efffff, #5c80bcff, #fae063ff, #0f110cff, #049a8fff); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--naples-yellow);
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar__app-name {
    font-size: 18px;
    font-weight: 800;
  }
  
  .navbar__right {
    display: flex;
    align-items: center;
  }
  
  .navbar__user-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .navbar__user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .navbar__dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    background-color: var(--naples-yellow);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
    z-index: 99;
  }
  
  .navbar__dropdown-content a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--glaucous);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navbar__dropdown-content a:hover {
    background-color: var(--columbia-blue);
  }
  
  .navbar__user-dropdown:hover .navbar__dropdown-content {
    display: block;
  }
  
  .navbar__sign-in {
    padding: 8px 16px;
    background-color: var(--naples-yellow);
    border: 2px var(--glaucous) solid;
    color: var(--glaucous);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    transition: background 0.4s ease;
  }
  
  .navbar__sign-in:hover {
    background-color: var(--glaucous);
    color: var(--naples-yellow);
  }
  