/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: Poppins;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(247, 255, 89, 0.49);
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar__app-name {
    font-size: 18px;
    font-weight: 800;
  }
  
  .navbar__right {
    display: flex;
    align-items: center;
  }
  
  .navbar__user-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .navbar__user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .navbar__dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
  }
  
  .navbar__dropdown-content a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  .navbar__dropdown-content a:hover {
    background-color: #f2f2f2;
  }
  
  .navbar__user-dropdown:hover .navbar__dropdown-content {
    display: block;
  }
  
  .navbar__sign-in {
    padding: 8px 16px;
    background-color: #12120900;
    border: 2px #F0CF65 solid;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    transition: background 0.4s ease;
  }
  
  .navbar__sign-in:hover {
    background-color: #F0CF65;
  }
  